entrypoint = "old_test/oldind.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "old_test/oldind.js"]
deploymentTarget = "gce"
ignorePorts = true

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".js"]
id = "module:nodejs-20:v11-20231122-8e4093b/languageServer:typescript-language-server"
